<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StringObfuscation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09D6B84E1EE92E2F00706EFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09D6B8621EE92E2F00706EFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09D6B86D1EE92E2F00706EFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
